* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
}
.main {
    background-color: #0000;
    max-width: 80%;
    margin: auto;
}
.grid-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    padding: 10px;
    row-gap: 5px;
}
.main .grid-items .grid-item {
    background-color: rgb(255, 230, 0);
    border: 1px solid rgb(248, 245, 245);
    border-radius: 9px 9px;
    box-shadow:  20px 20px 60px #cddcdf70;
    row-gap: 10px;
    height: 250px;
}

/* media query */
@media (min-width: 230px) and (max-width: 480px)  {
    .grid-items {
        display: grid;
        grid-template-columns: auto;
        column-gap: 10px;
        padding: 10px;
        row-gap: 5px;
    }
}

@media (min-width: 481px) and (max-width: 786px) {
    .grid-items {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        padding: 10px;
        row-gap: 5px;
    }
}
@media (min-width: 786px) and (max-width: 1024px) {
    .grid-items {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;
        padding: 10px;
        row-gap: 5px;
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .grid-items {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 10px;
        padding: 10px;
        row-gap: 5px;
    }
}